.well
  %legend
    =appointments.size == 1 ? "next appointment" : "next appointments"
  .row
    -appointments.each do |appointment|
      .col-xs-12
        .well.appointment-format
          .visible-xs-block
            .row.top-row
              .col-xs-12.appointment-day-in-words.text-center
                %h3
                  ="#{time_ago_in_words(appointment.date)}"
                  -#= link_to("edit", edit_dashboard_appointment_path(appointment), class: "btn btn-primary pull-left")
                .space-div
              .col-xs-6.appointment-date
                .well.text-center
                  %h2
                    =appointment.date.strftime("%d")
                %h4.text-center.appointment-day
                  =appointment.date.strftime("%A")
              .col-xs-6
                .appointment-month.text-center
                  %h4
                    =appointment.date.strftime("%B").upcase
                .appointment-year.text-center
                  %h3
                    =appointment.date.strftime("%Y")
            .row
              %legend
                .col-xs-12.text-center
                  %h4.appointment-time-label
                    ="drop off time"
                .col-xs-12.text-center
                  %h1.appointment-time
                    =appointment.drop_off_time.strftime("%I:%M%p")
            .row
              %legend
                .col-xs-12.text-center
                  %h6.appointment-time-label
                    ="pick up time"
                .col-xs-12.text-center
                  %h3.appointment-time
                    =appointment.pick_up_time.strftime("%I:%M%p")
              .col-xs-12.edit-section.center-text
                = link_to("edit", edit_dashboard_appointment_path(appointment), class: "btn btn-primary btn-lg btn-block")
          .hidden-xs
            .row.top-row
              .col-sm-4.appointment-date
                .well.text-center
                  %h1
                    =appointment.date.strftime("%d")
                %h4.text-center.appointment-day
                  =appointment.date.strftime("%A")
              .visible-sm-block.appointment-date.col-sm-4
                .appointment-day-in-words
                  %h3
                    ="#{time_ago_in_words(appointment.date)}"
                .appointment-month
                  %h4
                    ="#{appointment.date.strftime("%B").upcase} #{appointment.date.strftime("%Y")}"
              .visible-sm-block.col-sm-4.edit-section
                = link_to("edit", edit_dashboard_appointment_path(appointment), class: "btn btn-primary btn-lg btn-block")


              .hidden-sm.appointment-date.pull-left
                .appointment-day-in-words
                  %h4
                    ="#{time_ago_in_words(appointment.date)}"
                .appointment-month
                  %h4
                    ="#{appointment.date.strftime("%B").upcase} #{appointment.date.strftime("%Y")}"
            .row
              %legend
                .col-sm-6.text-center
                  %h5.appointment-time-label
                    ="drop off"
                  %h3.appointment-time
                    =appointment.drop_off_time.strftime("%I:%M%p")
                .col-sm-6.text-center
                  %h5.appointment-time-label
                    ="pick up"
                  %h3.appointment-time
                    =appointment.pick_up_time.strftime("%I:%M%p")
              .hidden-sm.col-md-12.edit-section.center-text
                = link_to("edit", edit_dashboard_appointment_path(appointment), class: "btn btn-primary btn-block")




      -#.form-group
        -#.sr-only= "date"
        -#.form-control= appointment.date
      -#.form-group
        -#.sr-only= "drop-off time"
        -#.form-control= appointment.drop_off_time
      -#.form-group
        -#.sr-only= "drop-up time"
        -#.form-control= appointment.pick_up_time
      -#.form-group
        -#.sr-only= "notes"
        -#.form-control= appointment.notes

