= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal'}, role: 'form') do |f|
  -if controller.controller_name.eql?("registrations") && controller.action_name.eql?("edit")
    #userAccordion{aria: {multiselectable: true}, role: "tablist"}
      .panel.well.well-default
        .well-heading
          .row
            .container-fluid
              %h3.pull-left
                Edit #{resource_name.to_s.humanize}
              %h4.pull-right
                = link_to "Back", :back, class: "btn btn-warning btn-outline btn-block"
        #userHeading.collapse-heading{role: "tab"}
          %button.btn.btn-primary.btn-outline.btn-block{aria: {controls: "userCollapse1", expanded: true}, data: {parent: "#userAccordion", toggle: "collapse"}, href: "#userCollapse1"}
            login informaiton
          %button.btn.btn-primary.btn-outline.btn-block{aria: {controls: "userCollapse2", expanded: true}, data: {parent: "#userAccordion", toggle: "collapse"}, href: "#userCollapse2"}
            work info
          %button.btn.btn-primary.btn-outline.btn-block{aria: {controls: "userCollapse3", expanded: true}, data: {parent: "#userAccordion", toggle: "collapse"}, href: "#userCollapse3"}
            personal info
        #userCollapse1.collapse.in{aria: {labelledby: "userHeading"}, role: "tabpanel"}
          = render partial: "/devise/registrations/panels/login_info", locals: {f: f}
        #userCollapse2.collapse{aria: {labelledby: "userHeading"}, role: "tabpanel"}
          = render partial: "/devise/registrations/panels/business_contact_info", locals: {f: f}
          = render partial: "/devise/registrations/panels/business_address_info", locals: {f: f}
        #userCollapse3.collapse{aria: {labelledby: "userHeading"}, role: "tabpanel"}
          = render partial: "/devise/registrations/panels/personal_contact_info", locals: {f: f}
          = render partial: "/devise/registrations/panels/personal_address_info", locals: {f: f}
        = render partial: "/devise/registrations/components/footer", locals: {f: f}
  -else
    .well.well-default
      .well-heading
        %h4
          register an account
      .well-body
        = render partial: "/devise/registrations/panels/login_info", locals: {f: f}
      .well-footer
        = render partial: "/devise/registrations/components/footer", locals: {f: f}

