.row
  .container
    - unless user_signed_in?
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal'}, role: 'form') do |f|
        = BootstrapHelper::Panel.new(contextual: 'panel-primary', title: '', footer: '') do |panel|
          - panel.header_col(col_size: 12) do 
            %h4
              Register an Account
          - panel.body do
            = BootstrapHelper::Panel.new(contextual: 'panel-info', title: '') do |login_info_panel|
              - login_info_panel.header_col(col_size: 12) do 
                .h4
                  User Information
              - login_info_panel.body do
                = render partial: "/devise/registrations/panels/login_info", locals: {f: f}
            = BootstrapHelper::Panel.new(contextual: 'panel-info', title: '') do |business_contact_info_panel|
              - business_contact_info_panel.header_col(col_size: 12) do 
                .h4
                  Business Contact Information
              - business_contact_info_panel.body do
                = render partial: "/devise/registrations/panels/business_contact_info", locals: {f: f}
            = BootstrapHelper::Panel.new(contextual: 'panel-info', title: '') do |business_address_panel|
              - business_address_panel.header_col(col_size: 12) do 
                .h4
                  Business Address Information
              - business_address_panel.body do
                = render partial: "/devise/registrations/panels/business_address_info", locals: {f: f}
            = BootstrapHelper::Panel.new(contextual: 'panel-info', title: '') do |personal_contact_panel|
              - personal_contact_panel.header_col(col_size: 12) do 
                .h4
                  Personal Contact Information
              - personal_contact_panel.body do
                = render partial: "/devise/registrations/panels/personal_contact_info", locals: {f: f}
            = BootstrapHelper::Panel.new(contextual: 'panel-info', title: '') do |personal_address_panel|
              - personal_address_panel.header_col(col_size: 12) do 
                .h4
                  Personal Address Information
              - personal_address_panel.body do
                = render partial: "/devise/registrations/panels/personal_address_info", locals: {f: f}

          - panel.footer do
            .col-sm-8.col-md-8.btn-group
              = render "devise/shared/links_omniauthable"
              = render "devise/shared/links_sign_in"
            .col-sm-2.col-md-2
              %button.btn.btn-danger.btn-block{"data-dismiss" => "modal", :type => "button"} cancel
            .col-sm-2.col-md-2
              = f.submit "register", class: 'btn btn-large btn-success btn-block'

