- my_price = 0.00
.section.section-default.row
  .col-xs-12
    .h2
      Package Plans
  .col-xs-12
    -@sample_plans.each do |plan|
      .col-xs-12.col-sm-4
        = form_for plan, url: line_items_url, html: {class: "nifty_form"} do |f|
          = f.hidden_field(:name)
          = f.hidden_field(:plan_type)
          = f.hidden_field(:status)
          = f.hidden_field(:price)
          .thumbnail.well.well-primary
            .caption
              .h4
                =plan.name
            %img.img.img-responsive{src: plan.image_url, alt: ""}
            %p
              - @vehicle.my_size.include?("Small") ? my_price = plan.price_small : my_price = plan.price_large
              = number_to_currency( my_price )
            %p
              = link_to "Add to Cart", line_items_path( service_plan: { name: plan.name, plan_type: plan.plan_type, price: my_price, status: plan.status, vehicle: @vehicle } ), class: "btn btn-warning btn-outline btn-block", method: :post

.section.section-default.row
  .col-xs-12
    .h2
      Individual Plans
  .col-xs-12
    -@sample_individual_plans.each do |plan|
      .col-xs-12.col-sm-4
        = form_for plan, url: line_items_url, html: {class: "nifty_form"} do |f|
          = f.hidden_field(:name)
          = f.hidden_field(:plan_type)
          = f.hidden_field(:status)
          = f.hidden_field(:price)
          .thumbnail.well.well-primary
            .caption
              .h4
                =plan.name
            %img.img.img-responsive{src: plan.image_url, alt: ""}
            %p
              - @vehicle.my_size.include?("Small") ? my_price = plan.price_small : my_price = plan.price_large
              = number_to_currency( my_price )
            %p
              = link_to "Add to Cart", line_items_path( service_plan: { name: plan.name, plan_type: plan.plan_type, price: my_price, status: plan.status, vehicle: @vehicle } ), class: "btn btn-warning btn-outline btn-block", method: :post

