.section.section-default.row
  .col-xs-12
    .h2
      Package Plans
  .col-xs-12
    -@sample_plans.each do |plan|
      .col-xs-12.col-sm-4
        = form_for plan, url: line_items_url, html: {class: "nifty_form"} do |f|
          = f.hidden_field(:name)
          = f.hidden_field(:plan_type)
          = f.hidden_field(:status)
          = f.hidden_field(:price)
          .thumbnail.well.well-primary
            .caption
              .h4
                =plan.name
            %img.img.img-responsive{src: plan.image_url, alt: ""}
            %p
              =number_to_currency(plan.price)
            %p
              %button.btn.btn-default.btn-block
                ="add to cart"
.section.section-default.row
  .col-xs-12
    .h2
      Individual Plans
  .col-xs-12
    -@sample_individual_plans.each do |plan|
      .col-xs-12.col-sm-3
        = form_for plan, url: line_items_url, html: {class: "nifty_form"} do |f|
          = f.hidden_field(:name)
          = f.hidden_field(:plan_type)
          = f.hidden_field(:status)
          = f.hidden_field(:price)
          .thumbnail.well.well-primary
            .caption
              .h4
                =plan.name
            %img.img.img-responsive{src: plan.image_url, alt: ""}
            %p
              =number_to_currency(plan.price)
            %p
              %button.btn.btn-default.btn-block
                ="add to cart"

