


= form_for [:customers, @company], method: "post", html: {class: "form-horizontal"} do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, "Company", class: "control-label"
    .controls
      = f.collection_select( :id, @companies, :id, :name, {prompt: "Select Company"}, {class: "input-medium"})
  .control-group
    .controls
      = f.submit 'Add', class: "btn btn_green"

