.row-fluid
  .span5.offset1
    .site-wrapper
      - if @sites.empty?
        %legend
          %li= link_to "Add Site",    new_customers_site_path
      - else
        %legend
          My Sites
        .mySites
          -@sites.each do |site|
            .div
              =link_to site.name, edit_customers_site_path(site)
              =" | "
              = link_to 'Destroy', customers_site_path(site), :method => :delete, :data => { :confirm => 'Are you sure?' }
            .div site.address
  .span5.offset1
    .company-wrapper
      - if @companies.empty?
        %legend
          %li= link_to "Add Company", new_customers_company_path
      - else
        %legend
          My Companies
        .myCompanies
          -@companies.each do |company|
            .div
              =link_to company.name, edit_customers_company_path(company)
              =" | "
              = link_to 'Destroy', customers_company_path(company), :method => :delete, :data => { :confirm => 'Are you sure?' }
            .div company.address
.row-fluid
  .span5.offset1
    .row-fluid
      .appointment-container
        .appt-header
          Make an Appointment
  .span5.offset1
    .vehicle-wrapper
      - if @vehicles.empty?
        %h3 You have no Vehicles
        = link_to "add vehicle", new_customers_vehicle_path
      - else
        %legend
          My Vehicles
        %ul#myVehicle.nav.nav-tabs
          - @vehicles.each_with_index do |vehicle, index|
            = render partial: "nav-tabs_ul", locals: {vehicle: vehicle, index: index}
        #myVehicle_content.tab-content
          - @vehicles.each_with_index do |vehicle, index|
            = render partial: "tab-pane", locals: {vehicle: vehicle, index: index}

