.form-group
  = f.label :vehicle_year, class: 'sr-only'
  = f.text_field :vehicle_year, class: "form-control", placeholder: "year"
.form-group
  = f.label :vehicle_make, class: 'sr-only'
  = f.text_field :vehicle_make, class: "form-control", placeholder: "make"
.form-group
  = f.label :vehicle_model, class: 'sr-only'
  = f.text_field :vehicle_model, class: "form-control", placeholder: "model"
.form-group
  = f.label :vehicle_trim, class: 'sr-only'
  = f.text_field :vehicle_trim, class: "form-control", placeholder: "trim"
.form-group
  = f.label :vehicle_type, class: 'sr-only'
  = f.text_field :vehicle_type, class: "form-control", placeholder: "type"
.form-group
  = f.label :vehicle_door, class: 'sr-only'
  = f.text_field :vehicle_door, class: "form-control", placeholder: "doors"
.form-group
  = f.label :color, class: 'sr-only'
  = f.text_field :color, class: "form-control", placeholder: "color"
.form-group
  = f.label :license_plate, class: 'sr-only'
  = f.text_field :license_plate, class: "form-control", placeholder: "license plate no."
.form-group
  = f.label :state_registered, class: 'sr-only'
  = f.text_field :state_registered, class: "form-control", placeholder: "state registered"
.form-group
  = f.label :comments, class: 'sr-only'
  = f.text_area :comments, class: "form-control", placeholder: "comments"

