.row
  .span10.offset1
    %table.table.table-striped.table-hover.table-condensed
      %tr
        %th Year
        %th Make
        %th Model
        %th Trim
        %th Type
        %th Doors
        -#%th Size
        %th Color
        %th Comments
        %th License Plate Number
        %th State Registered

      - @vehicles.each do |vehicle|
        %tr
          %td 
            = vehicle.vehicle_years[0].name
          %td 
            = vehicle.vehicle_makes[0].name
          %td 
            = vehicle.vehicle_models[0].name
          %td 
            = vehicle.vehicle_trims[0].name
          %td 
            = vehicle.vehicle_types[0].name
          %td 
            = vehicle.vehicle_doors[0].name
          -#%td 
            -#= vehicle.vehicle_sizes[0].name
          %td 
            = vehicle.color
          %td 
            = vehicle.comments
          %td 
            = vehicle.license_plate_number
          %td 
            = vehicle.state_registered

-#%h1 Listing vehicles

-#%table
  -#%tr
    -#%th
    -#%th
    -#%th

  -#- @vehicles.each do |vehicle|
    -#%tr
      -#%td= link_to 'Show', vehicle
      -#%td= link_to 'Edit', edit_customers_vehicle_path(vehicle)
      -#%td= link_to 'Destroy', vehicle, :method => :delete, :data => { :confirm => 'Are you sure?' }

-#%br

-#= link_to 'New Vehicle', new_customers_vehicle_path
