.section.section-primary
  = form_for [:dashboard, @vehicle], method: "post", html: {class: "form-horizontal", role: "form"} do |f|
    - if @vehicle.errors.any?
      #error_explanation
        %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this company from being saved:"
        %ul
          - @vehicle.errors.full_messages.each do |msg|
            %li= msg

    = BootstrapHelper::Panel.new(class: 'primary') do |panel|
      -panel.heading do
        -panel.title do
          .row
            .col-xs-8.col-sm-3
              %h4
                ="new vehicle"
            .hidden-xs.col-sm-7
              = render "shared/breadcrumbs"
            .col-xs-4.col-sm-2
              = link_to "Back", :back, class: "btn btn-warning btn-block"
      -panel.body do
        %legend
        .container-fluid
          .row
            .col-xs-12.col-sm-6
              = render partial: 'form', locals: {f: f}
            .col-xs-12.col-sm-6
              = render partial: 'custom_form', locals: {f: f}
      - panel.footer do
        = f.submit 'Add Vehicle', class: "btn btn-success btn-block", id: "add_vehicle"

