= render partial: "/devise/registrations/panels/login_info", locals: {f: f}
= render partial: "/devise/registrations/panels/business_contact_info", locals: {f: f}
= render partial: "/devise/registrations/panels/business_address_info", locals: {f: f}
= render partial: "/devise/registrations/panels/personal_contact_info", locals: {f: f}
= render partial: "/devise/registrations/panels/personal_address_info", locals: {f: f}
