%h1 Listing dashboard_dashboards

%table
  %tr
    %th Index
    %th
    %th
    %th

  - @dashboard_dashboards.each do |dashboard_dashboard|
    %tr
      %td= dashboard_dashboard.index
      %td= link_to 'Show', dashboard_dashboard
      %td= link_to 'Edit', edit_dashboard_dashboard_path(dashboard_dashboard)
      %td= link_to 'Destroy', dashboard_dashboard, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dashboard', new_dashboard_dashboard_path
