.col-xs-12
  = form_for(resource, as: resource_name, url: user_registration_path, html: { method: :post }) do |f|
    -#= devise_error_messages!
    .container-fluid
      .form-group
        .input-group
          %span.input-group-addon email
          = f.email_field :email, class: "form-control", autofocus: true
    .container-fluid
      .form-group
        .input-group
          %span.input-group-addon first name
          = f.text_field :first_name, class: "form-control"
    .container-fluid
      .form-group
        .input-group
          %span.input-group-addon last name
          = f.text_field :last_name, class: "form-control"
    .container-fluid
      .form-group
        .input-group
          %span.input-group-addon password
          = f.password_field :password, class: "form-control", data: {toggle: "tooltip", placement: "top"}, title: "(leave blank if you don't want to change it)"
    .container-fluid
      .form-group
        .input-group
          %span.input-group-addon confirm password
          = f.password_field :password_confirmation, class: "form-control"


    .container-fluid
      .form-group
        = f.submit 'register', class: "btn btn-success btn-outline", role: "button"

