- if user_signed_in?
  .breadcrumb-container
    %ol.breadcrumb
      - index = 0
      - @breadcrumbs.each do |name, path, icon|
        - if index == 0
          %li.active
            = link_to path do 
              - if icon
                %span{class: "glyphicon #{icon}"}
              - else
                = name
        - else
          %li
            = link_to path do 
              = name
              - if icon
                %span{class: "glyphicon #{icon}"}
        - index+=1

