%nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand.hidden-xs{href: root_path}
      = image_tag('logo-90.png')
    %a.navbar-brand.visible-xs{href: root_path}
      -if mobile_device?
        = image_tag("logo-50.png", height: 40)
      -else
        .aligner
          = image_tag("logo-50.png", height: 40)
  .collapse.navbar-collapse.pull-right
    .col-xs-12.col-sm-12.col-md-12
      - if user_signed_in?
        = render "shared/navbar/navbar-nav-dashboard"
      - else
        = render "shared/navbar/navbar-nav-welcome"
    .col-sm-2.col-md-2

