#section1.row.section.section-default.section-intro.parallax-reverse
  .col-xs-12.col-sm-offset-6.col-sm-6.col-md-offset-7.col-md-5
    .splash_page_login
      = render "shared/sign_up_in_buttons"
      = render "/devise/registrations/form_modal"
#section1a.section1.row.section.section-success
  .col-xs-12
    = render "welcome/sections/section1"
#section2.row.section.section-primary.section-intro.parallax
#section2a.section2.row.section.section-warning
  .col-xs-12
    = render "welcome/sections/section2"
#section3.row.section.section-primary.section-intro.parallax-reverse
#section3a.section3.row.section.section-default
  .col-xs-12
    = render "welcome/sections/section3"

