.row
  .section
    .container.theme-showcase{role: :main}
      = render "welcome/theme/jumbotron"
      = render "welcome/theme/buttons"
      = render "welcome/theme/tables"
      = render "welcome/theme/thumbnails"
      = render "welcome/theme/labels"
      = render "welcome/theme/badges"
      = render "welcome/theme/dropdowns"
      = render "welcome/theme/navs"
      = render "welcome/theme/navbars"
      = render "welcome/theme/alerts"
      = render "welcome/theme/progress"
      = render "welcome/theme/lists"
      = render "welcome/theme/panels"
      = render "welcome/theme/wells"
      = render "welcome/theme/sections"

