.row
  .span4
    %table.table.table-striped.table-hover.table-condensed
      %tr
        %th Make
        %th Model
        %th Trim
        %th Size

      - @models.each do |model|
        - if model.trims.empty?
          %tr
            %td 
              = model.make.name
            %td
              = model.name
            %td
            %td
              = model.size
        - else
          - model.trims.each do |trim|
            %tr
              %td 
                = model.id
              %td 
                = model.make.name
              %td
                = model.name
              %td
                = trim.name
              %td
                = model.size



