= form_for [:customers, @vehicle], html: {class: "form-horizontal"} do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :year, class: "control-label"
    .controls
      = f.text_field :year, class: "input-mini"
  .control-group
    = f.label :color, class: "control-label"
    .controls
      = f.text_field :color, class: "input-small"
  .control-group
    = f.label :comments, class: "control-label"
    .controls
      = f.text_area :comments, rows: 3
  .control-group
    = f.label :doors, class: "control-label"
    .controls
      = f.text_field :doors, class: "input-mini"
  .control-group
    = f.label :license_plate_number, class: "control-label"
    .controls
      = f.text_field :license_plate_number, class: "input-small"
  .control-group
    = f.label :state_registered, class: "control-label"
    .controls
      = f.text_field :state_registered, class: "input-small"
  .control-group
    = f.label :size, class: "control-label"
    .controls
      = f.text_field :size, class: "input-small"

  - f.object.make ||=  f.object.build_make
  = f.fields_for :make do |ma|
    .control-group
      = ma.label :name, "Make", class: "control-label"
      .controls
        = ma.collection_select( :id, Make.all, :id, :name, prompt: true)

    - ma.object.models ||= ma.object.build_models
    = ma.fields_for :models_attributes do |mo|
      .control-group
        = mo.label :name, "Model", class: "control-label"
        .controls
          = mo.grouped_collection_select :model_id, Make.order(:name), :models, :name, :id, :name, prompt: true
  .control-group
    .controls
      = f.submit 'Save', class: "btn btn_green"





















-#= form_for @customers_vehicle do |f|
  -#- if @customers_vehicle.errors.any?
    -##error_explanation
      -#%h2= "#{pluralize(@customers_vehicle.errors.count, "error")} prohibited this customers_vehicle from being saved:"
      -#%ul
        -#- @customers_vehicle.errors.full_messages.each do |msg|
          -#%li= msg

  -#.actions
    -#= f.submit 'Save'
