= form_for [:dashboard, @appointment], html: {class: "", role: "form"} do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this appointment from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :date, class: "sr-only"
    #datetimepicker1.date.input-group
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
      = f.text_field(:date, placeholder: "appointment date", class: "form-control input-sm", "data-date-days-of-week-disabled" => "0,6", value: "", "aria_describedby" => "sizing-addon2")
  .form-group
    = f.label :drop_off_time, class: "sr-only"
    #datetimepicker2.date.input-group
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
      = f.text_field(:drop_off_time, placeholder: "drop-off time", value: "", class: "form-control input-sm", "aria_describedby" => "sizing-addon2")
  .form-group
    = f.label :pick_up_time, class: "sr-only"
    #datetimepicker3.date.input-group
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
      = f.text_field(:pick_up_time, placeholder: "pick-up time", value: "", class: "form-control input-sm", "aria_describedby" => "sizing-addon2")
  .form-group
    = f.label :notes, class: "sr-only"
    = f.text_area(:notes, size: '5x5',  placeholder: "notes", class: "form-control input-sm")
  .form-group
    = f.submit 'Save', class: "btn btn-success btn-raised btn-block"

