= form_for [:dashboard, @appointment], method: "post", html: {class: "form-horizontal", role: "form"} do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this appointment from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |msg|
          %li= msg
  = BootstrapHelper::Panel.new(contextual: 'primary', title:"", footer:"") do |panel|
    - size = 12
    - panel.header_col(xs: size,sm: size,md:size,lg:size) do
      %h4= "New Appointment #{current_user.first_name}"
    - panel.body do
      .form-group
        = f.label :appointment_date, class: 'control-label col-sm-3 col-md-3'
        .col-sm-6.col-md-6
          #datetimepicker1.input-group.date
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
            = f.text_field(:appointment_date, { placeholder: "appointment date", class: "form-control" })
      - panel.footer do
        .col-xs-3.col-sm-3.col-md-3.col-lg-3
        .col-xs-3.col-sm-2.col-md-2.col-lg-2
          = f.submit 'Save', class: "btn btn-success btn-block"
