.row.section.section-primary.section-light
  .panel.panel-primary
    .panel-heading
      .panel-title
        = "my appointments"
        = link_to 'New Appointment', new_dashboard_appointment_path, class: "btn btn-primary btn-raised btn-sm"
    .panel-body
      %table.table.table-striped.table-hover
        %tr
          %th Date
          %th Drop Off Time
          %th Pick Up Time
          %th Notes
          %th Options

        - @appointments.each do |appointment|
          %tr
            %td= appointment.date.strftime( "%a %b %d, %Y" )
            %td= appointment.drop_off_time.strftime("%I:%M %p" )
            %td= appointment.pick_up_time.strftime("%I:%M %p" )
            %td= appointment.notes
            %td
              = link_to 'Show', dashboard_appointment_path( appointment ), class: "btn btn-info btn-outline btn-sm"
              = link_to 'Edit', edit_dashboard_appointment_path( appointment ), class: "btn btn-success btn-outline btn-sm"

