.section.section-primary
  .row
    -title "New Order"
    = form_for @order, html: {class: "form-horizontal", role: "form"} do |f|
      - if @order.errors.any?
        #error_explanation
          %h2= "#{pluralize(@order.errors.count, "error")} prohibited this company from being saved:"
          %ul
            - @order.errors.full_messages.each do |msg|
              %li= msg
      =BootstrapHelper::Panel.new(class: 'info') do |panel|
        -panel.heading() do
          -panel.title() do
            .h4="New Order"
        - panel.body do
          .row
            .col-xs-6
              .container-fluid
                .form-group
                  = f.label :first_name, class: 'sr-only'
                  = f.text_field :first_name, placeholder: "first name", class: "form-control", value: current_user.first_name
            .col-xs-6
              .container-fluid
                .form-group
                  = f.label :last_name, class: 'sr-only'
                  = f.text_field :last_name, placeholder: "last name", class: "form-control", value: current_user.last_name
          .row
            .col-xs-4
              .container-fluid
                .form-group
                  = f.label :card_type, class: 'sr-only'
                  = f.select(:card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]],{include_blank: "card type"}, class: "form-control")
            .col-xs-6
              .container-fluid
                .form-group
                  = f.label :card_number, class: 'sr-only'
                  = f.text_field :card_number, placeholder: "card number", class: "form-control"
            .col-xs-2
              .container-fluid
                .form-group
                  = f.label :card_verification, class: 'sr-only'
                  = f.text_field :card_verification, placeholder: "(CVV)", class: "form-control"
          .container-fluid
            .form-group
              = f.label :card_expires_on, class: 'sr-only'
              = f.date_select(:card_expires_on, {discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+10), add_month_numbers: true}, {class: "form-control"})
        - panel.footer do
          .row
            .col-xs-6
              .container-fluid
                .form-group
                  = link_to "Cancel", :back, class: "btn btn-danger btn-block"
            .col-xs-6
              .container-fluid
                .form-group
                  = f.submit "Submit", class: "btn btn-success btn-block"
