=BootstrapHelper::Panel.new(class: 'primary-dark') do |panel|
  -panel.heading() do
    -panel.title() do
      .h4
        Business Address Information
  - panel.body do
    - resource.work_address ||= resource.build_work_address
    = f.fields_for :work_address do |address|
      .row
        .col-xs-12
          .container-fluid
            .form-group
              = address.label :street1, class: 'sr-only'
              = address.text_field :street1, class: "form-control", placeholder: "street address 1"
            .form-group
              = address.label :suite_no, class: 'sr-only'
              = address.text_field :suite_no, class: "form-control", placeholder: "suite number"
            .form-group
              = address.label :street2, class: 'sr-only'
              = address.text_field :street2, class: "form-control", placeholder: "street address 2"
            .form-group
              = address.label :city, class: 'sr-only'
              = address.text_field :city, class: "form-control", placeholder: "city"
            .form-group
              = address.label :state, class: 'sr-only'
              = address.text_field :state, class: "form-control", placeholder: "state"
            .form-group
              = address.label :zip, class: 'sr-only'
              = address.text_field :zip, class: "form-control", placeholder: "zip code"

