=BootstrapHelper::Panel.new(class: 'info-dark') do |panel|
  -panel.heading() do
    -panel.title() do
      .h4
        Business Contact Information
  - panel.body do
    - resource.work_contact_info ||= resource.build_work_contact_info
    = f.fields_for :work_contact_info do |wci|
      .row
        .col-xs-12
          .container-fluid
            .form-group
              = wci.label :email, class: 'sr-only'
              = wci.text_field :email, class: "form-control", placeholder: "email"
            .form-group
              = wci.label :mobile, class: 'sr-only'
              = wci.text_field :mobile, class: "form-control", placeholder: "mobile"
            .form-group
              = wci.label :phone1, class: 'sr-only'
              = wci.text_field :phone1, class: "form-control", placeholder: "phone 1"
            .form-group
              = wci.label :ext, class: 'sr-only'
              = wci.text_field :ext, class: "form-control", placeholder: "ext"
            .form-group
              = wci.label :phone2, class: 'sr-only'
              = wci.text_field :phone2, class: "form-control", placeholder: "phone 2"
            .form-group
              = wci.label :fax, class: 'sr-only'
              = wci.text_field :fax, class: "form-control", placeholder: "fax"

