=BootstrapHelper::Panel.new(class: 'info') do |personal_address_panel|
  -personal_address_panel.heading() do
    -personal_address_panel.title() do
      .h4
      Personal Address Information
  - personal_address_panel.body do
    - resource.home_address ||= resource.build_home_address
    = f.fields_for :home_address do |ha|
      .row
        .col-xs-12
          .container-fluid
            .form-group
              = ha.label :street1, class: 'sr-only'
              = ha.text_field :street1, class: "form-control", placeholder: "street address 1"
            .form-group
              = ha.label :apt_no, class: 'sr-only'
              = ha.text_field :apt_no, class: "form-control", placeholder: "apt no."
            .form-group
              = ha.label :street2, class: 'sr-only'
              = ha.text_field :street2, class: "form-control", placeholder: "street address 2"
            .form-group
              = ha.label :city, class: 'sr-only'
              = ha.text_field :city, class: "form-control", placeholder: "city"
            .form-group
              = ha.label :state, class: 'sr-only'
              = ha.text_field :state, class: "form-control", placeholder: "state"
            .form-group
              = ha.label :zip, class: 'sr-only'
              = ha.text_field :zip, class: "form-control", placeholder: "zip code"
