=BootstrapHelper::Panel.new(class: 'primary') do |personal_contact_panel|
  -personal_contact_panel.heading() do
    -personal_contact_panel.title() do
      .h4
      Personal Contact Information
  - personal_contact_panel.body do
    - resource.home_contact_info ||= resource.build_home_contact_info
    = f.fields_for :home_contact_info do |hci|
      .row
        .col-xs-12
          .container-fluid
            .form-group
              = hci.label :mobile, class: 'sr-only'
              = hci.text_field :mobile, class: "form-control", placeholder: "mobile number"
            .form-group
              = hci.label :phone1, class: 'sr-only'
              = hci.text_field :phone1, class: "form-control", placeholder: "phone number 1"
            .form-group
              = hci.label :phone2, class: 'sr-only'
              = hci.text_field :phone2, class: "form-control", placeholder: "phone number 2"
            .form-group
              = hci.label :fax, class: 'sr-only'
              = hci.text_field :fax, class: "form-control", placeholder: "fax number"
