.col-xs-12
  .container-fluid
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}, role: 'role') do |f|
      =BootstrapHelper::Panel.new(class: 'primary') do |panel|
        -panel.heading() do
          -panel.title() do
            .h4 login
        - panel.body do
          .container-fluid
            .form-group
              .input-group
                %span.input-group-addon email
                = f.email_field :email, class: "form-control", autofocus: true
          -#.container-fluid
            -#.form-group
              -#.input-group
                -#%span.input-group-addon username
                -#= f.text_field :username, class: "form-control", autofocus: true
          .container-fluid
            .form-group
              .input-group
                %span.input-group-addon password
                = f.password_field :password, class: "form-control"
          - if devise_mapping.rememberable?
            .container-fluid
              .form-group
                = f.label :remember_me do
                  = f.check_box :remember_me
                  remember me
        - panel.footer do
          .row.hidden-xs
            .col-xs-12
              .container-fluid
                .form-group
                  .btn-group.btn-group-justified{role: "group"}
                    .btn-group
                      = f.submit 'login', class: "btn btn-primary", role: "button"
                    .btn-group
                      = render "devise/shared/links_sign_up"
            = render "devise/shared/links_omniauthable"
            = render "devise/shared/links_error_handling"
          .row.visible-xs-block
            .col-xs-12
              .container-fluid
                .form-group
                  = f.submit 'login', class: "btn btn-primary btn-block", role: "button"
            .col-xs-12
              .container-fluid
                .form-group
                  = link_to "register", new_registration_path(resource_name), class: "btn btn-success btn-block", role: "button"
            = render "devise/shared/links_omniauthable"
            = render "devise/shared/links_error_handling"

