= form_for plan, url: line_items_url, html: {class: "nifty_form"} do |f|
  = f.hidden_field(:name)
  = f.hidden_field(:plan_type)
  = f.hidden_field(:price)
  .thumbnail.well.well-primary
    .caption
      .h4
        =plan.name
    %img.img.img-responsive{src: plan.image_url, alt: ""}
    %p
      =number_to_currency(plan.price)
    %p
      = f.submit "add to cart", class: "btn btn-default btn-block"

