.row
  %div{class: @appointments.empty? ? "col-xs-12" : "col-xs-12 col-sm-6"}
    = render partial: 'dashboard/appointments/form_new'
  -unless @appointments.empty?
    .col-xs-12.col-sm-6
      -#= render partial: 'dashboard/appointments/listing'
      -@appointments.each do |appointment|
        .well.col-xs-12
          .form-group
            .sr-only= "date"
            .form-control= appointment.date
          .form-group
            .sr-only= "drop-off time"
            .form-control= appointment.drop_off_time
          .form-group
            .sr-only= "drop-up time"
            .form-control= appointment.pick_up_time
          .form-group
            .sr-only= "notes"
            .form-control= appointment.notes

