.row
  .col-ms-12.col-md-12
    - if @companies.empty?
      = form_for [:dashboard, @company], method: "post", html: {class: "form-horizontal", role: "form"} do |f|
        - if @company.errors.any?
          #error_explanation
            %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
            %ul
              - @company.errors.full_messages.each do |msg|
                %li= msg
        = BootstrapHelper::Panel.new(contextual: 'info', title:"") do |panel|
          - size = 12
          - panel.header_col(xs: size,sm: size,md:size,lg:size) do
            %h4= "Add a Company #{current_user.first_name}"
          - panel.body do
            = render partial: 'dashboard/companies/form', locals: {f: f}
          - panel.footer do 
            .col-xs-8.col-sm-8.col-md-8.col-lg-8
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              = link_to "Cancel", :back, class: "btn btn-danger btn-block"
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              = f.submit 'Add', class: "btn btn-success btn-block"
    - else
      -@companies.each do |company|
        = BootstrapHelper::Panel.new(contextual: 'info', title:"") do |panel|
          - size = 3
          - panel.header_col(class: 'edit', xs: 4,sm: size,md:size,lg:size) do
            .h4
              = link_to edit_dashboard_company_path(company) do
                %span.glyphicon.glyphicon-edit
                edit
          - size = 8
          - panel.header_col(class: 'name', xs: 6,sm: size,md:size,lg:size) do
            .h4= company.name
          - size = 1
          - panel.header_col(class: 'delete', xs: 2,sm: size,md:size,lg:size) do
            .h4
              = link_to dashboard_company_path(company), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash
          - panel.body do
            .panel-body-pic.col-sm-3.col-md-3
              = image_tag("holder.png", class: "img-responsive")
            .panel-body-address.col-sm-9.col-md-9
              %table.table.table-condensed.table-striped.table-hover
                .col-sm-3.col-md-3
                  %h5
                    Contact Info
                .col-sm-9.col-md-9
                  %h6
                    = company.corporate_email_domain
                %tr
                  %th email
                  %th mobile
                %tr
                  %td
                    = company.contact_info.email
                    = company.corporate_email_domain
                  %td
                    = company.contact_info.mobile
                    = "(415) 555-5555"
                %tr
                  %th phone1
                  %th ext
                %tr
                  %td
                    = company.contact_info.phone1
                    = "(415) 555-5555"
                  %td
                    = company.contact_info.ext
                    = "x3456"
                %tr
                  %th phone2
                  %th fax
                %tr
                  %td
                    = company.contact_info.phone2
                    = "(415) 555-5555"
                  %td
                    = company.contact_info.fax
                    = "(415) 555-5555"
              %table.table.table-condensed.table-striped.table-hover
                .col-sm-12.col-md-12
                  %h5
                    Address
                %tr
                  %th street1
                  - if company.address.street2?
                    %th street2
                  %th city
                  %th state
                  %th zip
                %tr
                  %td
                    = company.address.street1
                  - if company.address.street2?
                    %td
                      = company.address.street2
                  %td
                    = company.address.city
                  %td
                    = company.address.state
                  %td
                    = company.address.zip

