.row
  .col-ms-12.col-md-12
    - if @sites.empty?
      = render 'dashboard/sites/form'
    - else
      - site = @sites.last
      - if @sites.size > 1
        %h3
          Current Site
      = BootstrapHelper::Panel.new(contextual: 'info', footer: '', title:"") do |panel|
        - size = 3
        - panel.header_col(xs: size,sm: size,md:size,lg:size) do
          .h4
            = link_to edit_dashboard_site_path(site) do
              %span.glyphicon.glyphicon-edit
              edit
        - size = 8
        - panel.header_col(xs: size,sm: size,md:size,lg:size) do
          .h4
            = site.name
        - size = 1
        - panel.header_col(xs: size,sm: size,md:size,lg:size) do
          .h4
            = link_to dashboard_site_path(site), :method => :delete, :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash
        - panel.body do
          .panel-body-pic.col-sm-3.col-md-3.pull-left
            = image_tag("holder.png", class: "img-responsive")
          .panel-body-address.col-sm-9.col-md-9.pull-left
            %table.table.table-condensed.table-striped.table-hover
              %tr
                %th street1
                %th street2
                %th city
                %th state
                %th zip
              %tr
                %td
                  = site.address.street1
                %td
                  = site.address.street2
                %td
                  = site.address.city
                %td
                  = site.address.state
                %td
                  = site.address.zip
      - if @sites.size > 1
        - @sites.pop
        %h3
          - if @sites.size > 1
            Previous Sites
          - else 
            Previous Site
        - @sites.reverse.each do |site|
          = BootstrapHelper::Panel.new(contextual: 'info', footer: '', title:"") do |panel|
            - size = 3
            - panel.header_col(xs: size,sm: size,md:size,lg:size) do
              .h4
                = link_to edit_dashboard_site_path(site) do
                  %span.glyphicon.glyphicon-edit
                  edit
            - size = 8
            - panel.header_col(xs: size,sm: size,md:size,lg:size) do
              .h4
                = site.name
            - size = 1
            - panel.header_col(xs: size,sm: size,md:size,lg:size) do
              .h4
                = link_to dashboard_site_path(site), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                  %span.glyphicon.glyphicon-trash
            - panel.body do
              .panel-body-pic.col-sm-3.col-md-3.pull-left
                = image_tag("holder.png", class: "img-responsive")
              .panel-body-address.col-sm-9.col-md-9.pull-left
                %table.table.table-condensed.table-striped.table-hover
                  %tr
                    %th street1
                    %th street2
                    %th city
                    %th state
                    %th zip
                  %tr
                    %td
                      = site.address.street1
                    %td
                      = site.address.street2
                    %td
                      = site.address.city
                    %td
                      = site.address.state
                    %td
                      = site.address.zip

