.row
  .col-ms-12.col-md-12
    - if @sites.empty?
      = form_for [:dashboard, @site], html: {class: "form-horizontal", role: "form"} do |f|
        - if @site.errors.any?
          #error_explanation
            %h2= "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
            %ul
              - @site.errors.full_messages.each do |msg|
                %li= msg
        = BootstrapHelper::Panel.new(contextual: 'panel-info', footer: '', title:"") do |panel|
          - panel.header_col(col_size: 6) do
            %h4= "Add a Site #{current_user.first_name}"
          - panel.body do
            = render partial: 'dashboard/sites/form', locals: {f: f}
          - panel.footer do 
            .col-xs-8.col-sm-8.col-md-8.col-lg-8
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              = link_to "Cancel", :back, class: "btn btn-danger btn-block"
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              = f.submit 'Add', class: "btn btn-success btn-block"
    - else
      -@sites.each do |site|
        = BootstrapHelper::Panel.new(contextual: 'panel-info', footer: '', title:"") do |panel|
          - panel.header_col(col_size: 3) do
            %h4
              = link_to edit_dashboard_site_path(site) do
                %span.glyphicon.glyphicon-edit
                edit
          - panel.header_col(col_size: 8) do
            %h3
              = site.name
          - panel.header_col(col_size: 1) do
            %h4
              = link_to dashboard_site_path(site), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash
          - panel.body do
            .panel-body-pic.col-sm-3.col-md-3.pull-left
              = image_tag("holder.png", class: "img-responsive")
            .panel-body-address.col-sm-9.col-md-9.pull-left
              %table.table.table-condensed.table-striped.table-hover
                %tr
                  %th street1
                  %th street2
                  %th city
                  %th state
                  %th zip
                %tr
                  %td
                    = site.address.street1
                  %td
                    = site.address.street2
                  %td
                    = site.address.city
                  %td
                    = site.address.state
                  %td
                    = site.address.zip

