.row
  .col-ms-12.col-md-12
    - if @vehicles.empty?
      = form_for [:dashboard, @vehicle], method: "post", html: {class: "form-horizontal", role: "form"} do |f|
        - if @vehicle.errors.any?
          #error_explanation
            %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this company from being saved:"
            %ul
              - @vehicle.errors.full_messages.each do |msg|
                %li= msg

        = BootstrapHelper::Panel.new(contextual: 'primary', footer: '', title:"") do |panel|
          - size = 6
          - panel.header_col(xs: size,sm: size,md:size,lg:size) do
            %h4= "Add a Vehicle #{current_user.first_name}"
          - panel.body do
            = render partial: 'dashboard/vehicles/form', locals: {f: f}
          - panel.footer do
            .col-xs-8.col-sm-8.col-md-8.col-lg-8
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              = link_to "Cancel", :back, class: "btn btn-danger btn-block"
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              = f.submit 'Add', class: "btn btn-success btn-block"
    - else
      -@vehicles.each_with_index do |vehicle, index|
        .well.col-xs-12
          .form-group
            .sr-only= "year"
            .form-control= vehicle.year
          .form-group
            .sr-only= "make"
            .form-control= vehicle.make
          .form-group
            .sr-only= "model"
            .form-control= vehicle.model
          .form-group
            .sr-only= "trim"
            .form-control= vehicle.trim
          .form-group
            .sr-only= "color"
            .form-control= vehicle.color
          .form-group
            .sr-only= "license plate"
            .form-control= vehicle.license_plate
          .form-group
            .sr-only= "state registered"
            .form-control= vehicle.state_registered
          .form-group
            .sr-only= "vehicle type"
            .form-control= vehicle.vehicle_types.first.name
          .form-group
            .sr-only= "vehicle doors"
            .form-control= vehicle.vehicle_doors.first.name
          .form-group
            .sr-only= "vehicle size"
            .form-control= vehicle.vehicle_sizes.first.name


