.row
  .col-ms-12.col-md-12
    - if @vehicles.empty?
      = form_for [:dashboard, @vehicle], method: "post", html: {class: "form-horizontal", role: "form"} do |f|
        - if @vehicle.errors.any?
          #error_explanation
            %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this company from being saved:"
            %ul
              - @vehicle.errors.full_messages.each do |msg|
                %li= msg

        = BootstrapHelper::Panel.new(contextual: 'info', footer: '', title:"") do |panel|
          - size = 6
          - panel.header_col(xs: size,sm: size,md:size,lg:size) do
            %h4= "Add a Vehicle #{current_user.first_name}"
          - panel.body do
            = render partial: 'dashboard/vehicles/form', locals: {f: f}
          - panel.footer do 
            .col-xs-8.col-sm-8.col-md-8.col-lg-8
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              = link_to "Cancel", :back, class: "btn btn-danger btn-block"
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              = f.submit 'Add', class: "btn btn-success btn-block"
    - else
      -@vehicles.each_with_index do |vehicle, index|
        = BootstrapHelper::Panel.new(contextual: 'info', title:"") do |panel|
          - size = 3
          - panel.header_col(class: "edit", xs: 4,sm: size,md:size,lg:size) do
            .h4
              = link_to edit_dashboard_vehicle_path(vehicle) do
                %span.glyphicon.glyphicon-edit
                  edit
          - size = 8
          - panel.header_col(class: 'name', xs: 6,sm: size,md:size,lg:size) do
            .h4
              = "#{vehicle.vehicle_years.first.name} #{vehicle.vehicle_models.first.name} #{vehicle.vehicle_trims.first.name}"
          - size = 1
          - panel.header_col(class: 'delete', xs: 2,sm: size,md:size,lg:size) do
            .h4
              = link_to dashboard_vehicle_path(vehicle), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash
          - panel.body do
            .panel-body-pic.col-sm-3.col-md-3.pull-left
              = image_tag("holder.png", class: "img-responsive")
            .panel-body-address.col-sm-9.col-md-9.pull-left
              %table.table.table-condensed.table-striped.table-hover
                %tr
                  %th Year
                  %th Make
                  %th Model
                  %th Trim
                  %th Type
                %tr
                  %td
                    = vehicle.vehicle_years.first.name
                  %td
                    = vehicle.vehicle_makes.first.name
                  %td
                    = vehicle.vehicle_models.first.name
                  %td
                    = vehicle.vehicle_trims.first.name
                  %td
                    = vehicle.vehicle_types.first.name
                %tr
                  %th Color
                  %th License Plate No.
                  %th State
                  %th Doors
                  -#%th Size
                %tr
                  %td
                    = vehicle.color
                  %td
                    = vehicle.license_plate_number
                  %td
                    = vehicle.state_registered
                  %td
                    = vehicle.vehicle_doors.first.name
                  -#%td
                    -#= vehicle_sizes.first.name 


