= BootstrapHelper::Panel.new(contextual: 'primary', footer: '', title:"") do |panel|
  = render partial: 'shared/panel_header', locals: {panel: panel, title: "Add a Site #{current_user.first_name}"}
  - panel.body do
    .col-xs-6
      %legend
        Existing Sites
      - @sites.reverse.each do |site|
        = site.name
        = site.companies.last.name
    .col-xs-6
      = form_for [:dashboard, @site], html: {class: "form-horizontal", role: "form"} do |f|
        - if @site.errors.any?
          #error_explanation
            %h2= "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
            %ul
              - @site.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :company_id, class: "control-label col-sm-4 col-md-4"
          .col-sm-6.col-md-6
            = collection_select(:company, :id, Company.order(:name), :id, :name, {prompt: "Select a Company"}, {class: "form-control"})
        .form-group
          = f.label :site_id, class: "control-label col-sm-4 col-md-4"
          .col-sm-6.col-md-6
            = f.grouped_collection_select( :id, Company.order(:name), :sites, :name, :id, :name, {prompt: "Select a Site"}, {class: "form-control"})
        .form-group
          .col-sm-4.col-md-4
          .col-xs-6.col-sm-6.col-md-6.col-lg-6
            = link_to "Cancel", :back, class: "btn btn-danger"
            = f.submit 'Edit', class: "btn btn-success", id:"edit_site"
    -#- panel.footer do 
      -#.col-xs-8.col-sm-8.col-md-8.col-lg-8
      -#.col-xs-2.col-sm-2.col-md-2.col-lg-2
        -#= link_to "Cancel", :back, class: "btn btn-danger btn-block"
      -#.col-xs-2.col-sm-2.col-md-2.col-lg-2
        -#= f.submit 'Edit', class: "btn btn-success btn-block", id:"edit_site"

