= form_for [:dashboard, @current_company_sites.first], method: method, html: {class: "form-horizontal", role: "form"} do |f|
  - if @current_company_sites.first.errors.any?
    #error_exploration
      %h2= "#{pluralize(@current_company_sites.first.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @current_company_sites.first.errors.full_messages.each do |message|
          %li= message
  = BootstrapHelper::Panel.new(class: "primary") do |panel|
    - panel.heading() do
      - panel.title() do
        .h4
          = current_user.salutation.empty? ? "#{current_user.first_name}, add a Site" : "#{current_user.salutation}, add a Site"
    - panel.body do
      .row
        .col-xs-12
          .container-fluid
            .form-group
              = f.label :site_id, class: "sr-only"
              -#= collection_select(:site, :id, @company.sites, :id, :name)
              %select.form-control{name: "site[id]"}
                %option{value: ""}Select a Site
                - @current_company_sites.each do |site|
                  %option{value: site.id.to_s}=site.name
    - panel.footer do
      .row
        .col-xs-6
          .container-fluid
            .form-group
              = link_to "Cancel", :back, class: "btn btn-danger btn-block"
        .col-xs-6
          .container-fluid
            .form-group
              = f.submit "SAVE", class: "btn btn-success btn-block"


