%h1 Listing sites

%table
  %tr
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= link_to site.name, dashboard_site_path(site)
      %td= "............................................."
      %td= link_to 'Edit', edit_dashboard_site_path(site)
      %td= link_to 'Destroy', dashboard_site_path(site), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add a Site', new_dashboard_site_path
