%ul.nav.navbar-nav.navbar-right.hidden-xs
  - if controller.controller_name.include?( "dashboards" ) || controller.controller_name.include?( "vehicles" ) || controller.controller_name.include?( "sites" ) || controller.controller_name.include?( "companies" ) || controller.controller_name.include?( "appointments" )
    - unless @current_cart.nil?
      %li
        = link_to "view cart", cart_path( @current_cart ), class: "btn btn-outline"
  %li.dropdown
    %a.dropdown-toggle.btn.btn-outline{ data: { toggle: "dropdown" }, href: "#" }
      = "profile"
      %span.glyphicon.glyphicon-menu-down
    %ul.dropdown-menu
      %li
        %a{ href: edit_user_registration_path }
          %span.glyphicon.glyphicon-cog{ aria: { hidden: "true", label: "Left Align" } }
          = "view my profile"
      %li
        %a{href: destroy_user_session_path, data: { method: "delete" }, rel: "nofollow" }
          %span.glyphicon.glyphicon-log-out{ aria: { hidden: "true", label: "Left Align" } }
          = "logout"
          .ripple-container

%ul.nav.navbar-nav.visible-xs
  %li
    %a{data: { toggle: "collapse", target: "#collapseAdd" }, aria: { expanded: false, controls: "collapseAdd" } }
      Add
      %span.glyphicon.glyphicon-menu-down
    %ul#collapseAdd.collapse
      %li= link_to "vehicle", new_dashboard_vehicle_path, class: "btn btn-info btn-raised btn-block"
      %li= link_to "site",    new_dashboard_site_path,    class: "btn btn-info btn-raised btn-block"
      %li= link_to "company", new_dashboard_company_path, class: "btn btn-info btn-raised btn-block"
  - if user_signed_in?
    %li
      %a{data: { toggle: "collapse", target: "#collapseAccount" }, aria: { expanded: false, controls: "collapseAccount" } }
        account
        %span.glyphicon.glyphicon-menu-down
      %ul#collapseAccount.collapse
        %a.btn.btn-warning.btn-raised.btn-block{ href: edit_user_registration_path }
          %span.glyphicon.glyphicon-cog{ aria: { hidden: "true", label: "Left Align" } }
          = "view my profile"
  %li
    .container-fluid
      %a.btn.btn-danger.btn-raised.btn-block{href: destroy_user_session_path, data: { method: "delete" }, rel: "nofollow" }
        %span.glyphicon.glyphicon-log-out{ aria: { hidden: "true", label: "Left Align" } }
        = "logout"
        .ripple-container


