%ul.nav.navbar-nav
  %li
    %a{href: "#{root_path}"}
      .link_top
      Home
      .link_bottom
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      .link_top
      Add
      %b.caret
      .link_bottom
    %ul.dropdown-menu
      %li
        %a{href: "#{new_dashboard_vehicle_path}"}
          Vehicle
      %li.divider
      %li
        %a{href: "#{new_dashboard_site_path}"}
          Site
      %li.divider
      %li
        %a{href: "#{new_dashboard_company_path}"}
          Company


  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        .link_top
        My Profile
        %b.caret
        .link_bottom
      %ul.dropdown-menu
        %li
          %a{href: "#{edit_user_registration_path}"}
            Edit
        %li.divider
        %li
          = link_to "Sign Out", destroy_user_session_path, method: :delete

