%ul.nav.navbar-nav
  %li
    %a{href: "#{root_path}"}
      .link_top
      Home
      .link_bottom
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Add
      %b.caret
    %ul.dropdown-menu
      %li
        %a{href: "#{new_customers_vehicle_path}"}
          .link_top
          Vehicle
          .link_bottom
      %li.divider
      %li
        %a{href: "#{new_customers_site_path}"}
          .link_top
          Site
          .link_bottom
      %li.divider
      %li
        %a{href: "#{new_customers_company_path}"}
          .link_top
          Company
          .link_bottom


  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        my profile
        %b.caret
      %ul.dropdown-menu
        %li
          %a{href: "#{edit_user_registration_path}"}
            .link_top
            edit
            .link_bottom
        %li
          -#= link_to "logout", destroy_user_session_path, method: :delete, class: "btn"
          %a{href: "#{destroy_user_session_path}", data: {method: :delete}}
            .link_top
            sign out
            .link_bottom

