%ul.nav.navbar-nav.navbar-right.hidden-xs
  -unless @current_cart.nil?
    %li
      .link_top
      = link_to "view cart", cart_path(@current_cart)
      .link_bottom
  %li.dropdown
    %a.dropdown-toggle{ data: { toggle: "dropdown" }, href: "#" }
      = "profile"
      %b.caret
    %ul.dropdown-menu
      %li= link_to "settings", edit_user_registration_path
      %li.divider
      %li= link_to "logout", destroy_user_session_path, method: :delete

%ul.nav.navbar-nav.visible-xs
  %li
    %a{"data-toggle"=>"collapse", "data-target"=>"#collapseAdd", "aria-expanded"=>"false", "aria-controls"=>"collapseAdd"}
      Add
      %b.caret
    %ul#collapseAdd.collapse
      %li= link_to "vehicle", new_dashboard_vehicle_path, class: "btn btn-primary btn-block"
      %li= link_to "site",    new_dashboard_site_path,    class: "btn btn-primary btn-block"
      %li= link_to "company", new_dashboard_company_path, class: "btn btn-primary btn-block"
  - if user_signed_in?
    %li
      %a{"data-toggle"=>"collapse", "data-target"=>"#collapseAccount", "aria-expanded"=>"false", "aria-controls"=>"collapseAccount"}
        account
        %b.caret
      %ul#collapseAccount.collapse
        %li= link_to "profile",  edit_user_registration_path, class: "btn btn-primary btn-block"
  %li
    .container-fluid
      = link_to "Sign Out", destroy_user_session_path, class: "btn btn-primary btn-block", method: :delete

