- unless user_signed_in?
  .login_register.span2.pull-right
    = link_to "sign in", "#signin", data: {toggle: "modal"}, class: 'btn btn_blue'
    = link_to "sign up", new_user_registration_path, class: 'btn btn_lime'
    / Modal
    #signin.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "signinLabel", :role => "dialog", :tabindex => "-1"}
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#signinLabel Sign In
        .modal-body
          %fieldset
            .control-group
              = f.label :username, class: 'control-label'
              .controls
                = f.text_field :username, :autofocus => true
            .control-group
              = f.label :password, class: 'control-label'
              .controls
                = f.password_field :password
            - if devise_mapping.rememberable?
              .control-group
                = f.label :remember_me, :class => "checkbox" do
                  .controls
                    = f.check_box :remember_me
                    remember me
        .modal-footer
          - if devise_mapping.omniauthable?
            - resource_class.omniauth_providers.each do |provider|
              = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
          = f.submit "Sign in", class: 'btn btn-large btn_lime'
          %button.btn.btn_red{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

