-##sampleAccordion.col-xs-12.col-sm-6.col-md-4{aria: {multiselectable: true}, role: "tablist"}
  -#.panel.well
    -#%legend.center-block
      -#Sample Collapsible
    -##sampleHeadingOne{role: "tab"}
      -#%button.btn.btn-primary.btn-block{aria: {controls: "sampleCollapseOne", expanded: true}, data: {parent: "#sampleAccordion", toggle: "collapse"}, href: "#sampleCollapseOne"}
        -#Collapsible Control #1
    -##sampleHeadingTwo{role: "tab"}
      -#%button.btn.btn-primary.btn-block{aria: {controls: "sampleCollapseTwo", expanded: true}, data: {parent: "#sampleAccordion", toggle: "collapse"}, href: "#sampleCollapseTwo"}
        -#Collapsible Control #2
    -##sampleHeadingThree{role: "tab"}
      -#%button.btn.btn-primary.btn-block{aria: {controls: "sampleCollapseThree", expanded:true}, data: {parent: "#sampleAccordion", toggle: "collapse"}, href: "#sampleCollapseThree"}
        -#Collapsible Control #3
    -##sampleCollapseOne.collapse{aria: {labelledby: "sampleHeadingOne"}, role: "tabpanel"}
      -#.well
        -#%legend
          -#Collapsible Target #1
    -##sampleCollapseTwo.collapse{aria: {labelledby: "sampleHeadingTwo"}, role: "tabpanel"}
      -#.well
        -#%legend
          -#Collapsible Target #2
    -##sampleCollapseThree.collapse{aria: {labelledby: "sampleHeadingThree"}, role: "tabpanel"}
      -#.well
        -#%legend
          -#Collapsible Target #3
.section.section-primary
  .row
    #sectionHeading1.col-xs-12.col-sm-4.col-md-3
      %button.btn.btn-primary.btn-block{href:"#sectionCollapse1", data: {toggle: "collapse"}, aria: {expanded: "true", controls: "sectionCollapse1"}}services available
    -##sectionHeading2.col-xs-12.col-sm-4.col-md-3
      -#%button.btn.btn-primary.btn-block{href:"#sectionCollapse2", data: {toggle: "collapse"}, aria: {expanded: "true", controls: "sectionCollapse2"}}appointments
#sectionCollapse1.collapse.section.section-primary{role: "tabpanel", aria:{labelledby: "sectionHeading1"}}
  .row
    #packageAccordion.col-xs-12.col-sm-6.col-md-4{aria: {multiselectable: true}, role: "tablist"}
      .panel.well
        %legend.center-block
          Detailing Packages
        #packageHeading.collapse-heading{role: "tab"}
          %button.btn.btn-primary.btn-block{href:"#collapsePackage1", data: {toggle: "collapse", parent: "#packageAccordion"}, aria: {expanded: "true", controls: "collapsePackage1"}}Interior Package
          %button.btn.btn-primary.btn-block{href:"#collapsePackage2", data: {toggle: "collapse", parent: "#packageAccordion"}, aria: {expanded: "true", controls: "collapsePackage2"}}Exterior Package
          %button.btn.btn-primary.btn-block{href:"#collapsePackage3", data: {toggle: "collapse", parent: "#packageAccordion"}, aria: {expanded: "true", controls: "collapsePackage3"}}Complete Package
          %br/
        #collapsePackage1.collapse{aria: {labelledby: "packageHeading"}, role: "tabpanel"}
          .well
            %legend
              %small
                Palace Interior Package
            .row
              .table-responsive.col-xs-12
                %table.table.table-condensed.table-bordered
                  %tr.info
                    %th="Qty"
                    %th="Service"
                    %th="Price"
                  %tr
                    %td=1.to_s
                    %td="Interior Palace"
                    %td=number_to_currency(169.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td=number_to_currency(29.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td=number_to_currency(29.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td=number_to_currency(29.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td.success="FREE!"
                  %tr
                    %td{colspan: 2, align: "right"}="Total"
                    %td=number_to_currency(259.8)
              .col-xs-12
                %a.btn.btn-success.btn-block{href: "#"}
                  ="Purchase"
        #collapsePackage2.collapse{aria: {labelledby: "packageHeading"}, role: "tabpanel"}
          .well
            %legend
              %small
                Palace Exterior Package
            .row
              .table-responsive.col-xs-12
                %table.table.table-condensed.table-bordered
                  %tr
                    %th="Qty"
                    %th="Service"
                    %th="Price"
                  %tr
                    %td=1.to_s
                    %td="Exterior Palace"
                    %td=number_to_currency(169.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td=number_to_currency(29.95)
                  %tr
                    %td="Villa"
                    %td=1.to_s
                    %td=number_to_currency(29.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td=number_to_currency(29.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td.success="FREE!"
                  %tr
                    %td{colspan: 2, align: "right"}="Total"
                    %td=number_to_currency(259.8)
              .col-xs-12
                %a.btn.btn-success.btn-block{href: "#"}
                  ="Purchase"
        #collapsePackage3.collapse{aria: {labelledby: "packageHeading"}, role: "tabpanel"}
          .well
            %legend
              %small
                Palace Complete Package
            .row
              .table-responsive.col-xs-12
                %table.table.table-condensed.table-bordered
                  %tr
                    %th="Qty"
                    %th="Service"
                    %th="Price"
                  %tr
                    %td=1.to_s
                    %td="Complete Palace"
                    %td=number_to_currency(299.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td=number_to_currency(29.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td=number_to_currency(29.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td=number_to_currency(29.95)
                  %tr
                    %td=1.to_s
                    %td="Villa"
                    %td.success="FREE!"
                  %tr
                    %td{colspan: 2, align: "right"}="Total"
                    %td=number_to_currency(389.8)
              .col-xs-12
                %a.btn.btn-success.btn-block{href: "#"}
                  ="Purchase"
    #serviceAccordion.col-xs-12.col-sm-6.col-md-4{aria: {multiselectable: true}, role: "tablist"}
      .panel.well
        %legend.center-block
          Detailing Services
        #serviceHeading.collapse-heading{role: "tab"}
          -@service_samples.each_with_index do |service, index|
            %button.btn.btn-primary.btn-block{aria: {controls: "serviceCollapse#{index}", expanded: true}, data: {parent: "#serviceAccordion", toggle: "collapse"}, href: "#serviceCollapse#{index}"}
              =service.name
        -@service_samples.each_with_index do |service, index|
          %div{id: "serviceCollapse#{index}", class: "collapse", aria: {labelledby: "serviceHeading"}, role: "tabpanel"}
            .well
              .row
                .col-xs-6
                  .legend
                    %small
                      ="SUVs: "
                    =number_to_currency(service.large_price)
                .col-xs-6
                  .legend
                    %small
                      ="Sedans: "
                    =number_to_currency(service.small_price)
              .row
                .col-xs-12
                  -desc_array = []
                  -service.description.each do |desc|
                    -if desc.downcase.include?("includes")
                      -if desc_array.empty?
                        -desc_array << desc
                      -else
                        -desc_array.reverse!
                        %h4
                          =desc_array.pop
                        %ul.list-group.list-group.service-ul
                        -desc_array.each do |line|
                          %li.list-group-item
                            = line
                        -desc_array = []
                        -desc_array << desc
                    -else
                      -desc_array << desc
                  -desc_array.reverse!
                  %h4
                    =desc_array.pop
                  %ul.list-group.service-ul
                  -desc_array.each do |line|
                    %li.list-group-item
                      = line
                  -desc_array = []
.section.section-primary
  -appointments = []
  -past_appointments = []
  .row
    .col-xs-12.col-md-4
      .well
        %legend
          ="make a new appointment"
        = render partial: 'dashboard/appointments/form'
    -unless @appointments.empty?
      -now = Time.now
      -@appointments.each do |appointment|
        -if appointment.date < now
          -past_appointments << appointment
        -else
          -appointments << appointment
      .col-xs-12.col-md-4
        = render partial: "dashboard/dashboards/my/appointments", locals: {appointments: appointments}
      .col-xs-12.col-md-4
        = render partial: "dashboard/dashboards/my/past_appointments", locals: {past_appointments: past_appointments}


