-##sampleAccordion.col-xs-12.col-sm-6.col-md-4{aria: {multiselectable: true}, role: "tablist"}
  -#.panel.well
    -#%legend.center-block
      -#Sample Collapsible
    -##sampleHeadingOne{role: "tab"}
      -#%button.btn.btn-primary.btn-block{aria: {controls: "sampleCollapseOne", expanded: true}, data: {parent: "#sampleAccordion", toggle: "collapse"}, href: "#sampleCollapseOne"}
        -#Collapsible Control #1
    -##sampleHeadingTwo{role: "tab"}
      -#%button.btn.btn-primary.btn-block{aria: {controls: "sampleCollapseTwo", expanded: true}, data: {parent: "#sampleAccordion", toggle: "collapse"}, href: "#sampleCollapseTwo"}
        -#Collapsible Control #2
    -##sampleHeadingThree{role: "tab"}
      -#%button.btn.btn-primary.btn-block{aria: {controls: "sampleCollapseThree", expanded:true}, data: {parent: "#sampleAccordion", toggle: "collapse"}, href: "#sampleCollapseThree"}
        -#Collapsible Control #3
    -##sampleCollapseOne.collapse{aria: {labelledby: "sampleHeadingOne"}, role: "tabpanel"}
      -#.well
        -#%legend
          -#Collapsible Target #1
    -##sampleCollapseTwo.collapse{aria: {labelledby: "sampleHeadingTwo"}, role: "tabpanel"}
      -#.well
        -#%legend
          -#Collapsible Target #2
    -##sampleCollapseThree.collapse{aria: {labelledby: "sampleHeadingThree"}, role: "tabpanel"}
      -#.well
        -#%legend
          -#Collapsible Target #3
.section.section-primary
  .row
    #sectionHeading1.col-xs-12.col-sm-4
      %button.btn.btn-primary.btn-block{href:"#sectionCollapse1", data: {toggle: "collapse"}, aria: {expanded: "true", controls: "sectionCollapse1"}}services available
    -##sectionHeading2.col-xs-12.col-sm-4.col-md-3
      -#%button.btn.btn-primary.btn-block{href:"#sectionCollapse2", data: {toggle: "collapse"}, aria: {expanded: "true", controls: "sectionCollapse2"}}appointments
    -unless @cart.nil?
      .col-xs-12.col-sm-4
        = link_to "my cart", cart_path(@cart.id), {class: "btn btn-primary btn-block"}
#sectionCollapse1.collapse.section.section-primary{role: "tabpanel", aria:{labelledby: "sectionHeading1"}}
  .row
    = render partial: "dashboard/dashboards/accordions/package"
    = render partial: "dashboard/dashboards/accordions/service"
.section.section-primary
  -appointments = []
  -past_appointments = []
  .row
    .col-xs-12.col-md-4
      .well
        %legend
          ="make a new appointment"
        = render partial: 'dashboard/appointments/form'
    -unless @appointments.empty?
      -now = Time.now
      -@appointments.each do |appointment|
        -if appointment.date < now
          -past_appointments << appointment
        -else
          -appointments << appointment
      .col-xs-12.col-md-4
        = render partial: "dashboard/dashboards/my/appointments", locals: {appointments: appointments}
      .col-xs-12.col-md-4
        = render partial: "dashboard/dashboards/my/past_appointments", locals: {past_appointments: past_appointments}


