%li{ class: "panel panel-#{ accordian[ :panel_type ] }-outline splash-page" }
  %a.text-center{ aria: { controls: accordian[ :body_id ], expanded: true }, data: {  parent: "##{ accordian[ :parent_id ] }", toggle: "collapse" }, href: "##{ accordian[ :body_id ] }" }
    %div{ id: accordian[ :heading_id ], class: "splash-page" }
      %h3
        = accordian[ :accordian_heading ]
  %div.panel-collapse.collapse{ id: accordian[ :body_id ], aria: { labelledby: accordian[ :heading_id ] },  role: "tabpanel"}
    = accordian[ :accordian_body ]


