%li{class: index  > 0 ? "" : "active"}
  %a{"data-toggle" => "tab", :href => "#my_vehicle_#{index}"} 
    = "#{vehicle.vehicle_years[0].name} #{vehicle.vehicle_models[0].name} #{vehicle.vehicle_trims[0].name}"

