= form_for [:customers, @site], html: {class: "form-horizontal"} do |f|
  - if @site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :company_id, class: "control-label", style: "width:50px"
    .controls{style: "margin-left:70px"}
      = collection_select(:company, :company_id, Company.order(:name), :id, :name, prompt: "Select a Company")
  .control-group
    = f.label :site_id, class: "control-label", style: "width:50px"
    .controls{style: "margin-left:70px"}
      = f.grouped_collection_select( :id, Company.order(:name), :sites, :name, :id, :name, prompt: "Select a Site")

  -#.control-group
    -#= f.label :name, class: "control-label", style: "width:50px"
    -#.controls{style: "margin-left:70px"}
      -#= f.text_field :name


  .control-group
    .controls{style: "margin-left:70px"}
      = f.submit 'Save', class: "btn btn_green", id: "btn"
