!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }/
    %link{ href: "//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet"}/
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    = render "shared/navbar"
    = render "shared/alert", flash: flash

    .container-fluid
      .row.section-primary
        .col-sm-3.col-md-2.sidebar.section.section-primary.section-dark
          = render "shared/sidebar/sidebar"
        .col-sm-9.col-md-10.main
          = yield
          -#-if mobile_device?
            -#= render "shared/navbar"
            -#= render "shared/alert", flash: flash
            -#= yield
          -#-else
            -#= render "shared/navbar"
            -#= render "shared/alert", flash: flash
            -#= yield
    = render "shared/footer"
    = javascript_include_tag "application"
    = render "shared/javascripts"

