!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    = render "shared/navbar"
    = render "shared/alert", flash: flash

    .container-fluid
      .row
        = render "shared/sidebar/sidebar"
        .col-sm-9.col-md-10.main
          = yield
          -#-if mobile_device?
            -#= render "shared/navbar"
            -#= render "shared/alert", flash: flash
            -#= yield
          -#-else
            -#= render "shared/navbar"
            -#= render "shared/alert", flash: flash
            -#= yield
    = javascript_include_tag "application"
    = render "shared/javascripts"

