!!!
%html{lang: "en"}
  %head
    %title Sitelerwash
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .container.header-background
      .top
        .logo
          = link_to '', root_path
          = image_tag("logo.jpg")
          .login_register.pull-right
            - if user_signed_in?
              Logged in as
              = succeed "." do
                %strong= current_user.email
              = link_to 'Edit profile', edit_user_registration_path, class: 'btn'
              = link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn'
            - else
              = link_to "Sign up", new_user_registration_path, class: 'btn'
              = link_to "Login", new_user_session_path, class: 'btn'
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse
            %ul.nav
              %li= link_to "Home"
              %li= link_to "About"
              %li= link_to "Services"
              %li= link_to "Contact"
    .container.body-background
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      = yield
