!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar.btn_blue{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          - if user_signed_in?
            = render "shared/navbar/breadcrumbs"
          .nav-collapse
            %ul.nav
              %li= link_to "Add Vehicle", new_customers_vehicle_path
              %li= link_to "Add Site",    new_customers_site_path
              %li= link_to "Add Company", new_customers_company_path

    .body-background
      .container-fluid
        .content-div
          .row-fluid
            .header-background
              .logo.pull-left
                =link_to( image_tag("logo.png"), root_path(), :class=>"logo_image")
              - if controller.controller_name.eql?("customer") && controller.action_name.eql?("index")
                = render "shared/navbar/welcome_back"
          .row-fluid
            .span5.offset2
              - flash.each do |name, msg|
                = content_tag :div, msg, id: "flash_#{name}", class: "flash_#{name}"
          = yield
    %footer.footer
    = javascript_include_tag "application"
    /[if lt IE 9]
      %script{:src => "javascript/ie_utilities/index.js"}
      %br
      %br
      -if Rails.env.development?
        =debug(params)

