!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .container.header-background
      .top
        .logo
          = link_to '', customers_path()
          = image_tag("logo.png")
          = render "shared/navbar/sign_up_in"
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse
            %ul.nav
              %li= link_to "Home", customers_path()
              %li= link_to "Add Vehicle", customers_vehicle_index_path()
              %li= link_to "Add Site",    customers_site_index_path()
              %li= link_to "Add Company", customers_company_index_path()
          - if user_signed_in?
            = render "shared/navbar/breadcrumbs"
    .container.body-background
      .row
        .span5.offset2
          - flash.each do |name, msg|
            = content_tag :div, msg, id: "flash_#{name}", class: "flash_#{name}"
      = yield

