!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    #wrap
      = render "shared/navbar"
      = render "shared/alert", flash: flash
      .container
        = yield
    = render "shared/footer"
    = javascript_include_tag "application"
    = render "shared/javascripts"

