!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag "welcome", media: "all"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    = render "shared/navbar"
    = render "shared/alert", flash: flash
    #wrap
      .section.section-default.section-intro{data: {type: "background", yspeed: "-6.5"}}
        .container-fluid
          .row
            = yield
    = render "welcome/pre_footer"
    = render "shared/footer"
    = javascript_include_tag "welcome"
    = render "shared/javascripts"

