!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag :welcome, media: :all
    -#= javascript_include_tag :modernizr
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    = render "shared/navbar"
    = render "shared/alert", flash: flash
    //.init-stats
    //.my-stats
    .container-fluid
      = yield
    = render "shared/footer"
    = javascript_include_tag "welcome"
    = render "shared/javascripts"

