!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag    "welcome", :media => "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "We use sendgrid", :name => "sendgrid"}
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    #bg
    = render "shared/navbar"
    = render "shared/alert", flash: flash
    - unless session[:token]
      %ipp:connectToIntuit
    - if notice
      %div{:style => "padding: 10px;background: gainsboro;font-weight: 900;width: 50%;"}= notice
    #wrap
      = yield
      = render "welcome/pre_footer"
    = render "shared/footer"
    = javascript_include_tag "welcome"
    %script{:src => "https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js", :type => "text/javascript"}
    :javascript
      intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: ' authenticate_vendors_url '});
    = render "shared/javascripts"

