!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag    "welcome", :media => "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "We use sendgrid", :name => "sendgrid"}
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    #bg
    = render "shared/navbar"
    = render "shared/alert", flash: flash
    #wrap
      = yield
      = render "welcome/pre_footer"
    = render "shared/footer"
    = javascript_include_tag "welcome"
    = render "shared/javascripts"

