!!!
%html{lang: "en"}
  %head
    %title Siteler Wash
    = stylesheet_link_tag "welcome", media: "all"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    = render "shared/navbar"
    = render "shared/alert", flash: flash
    #wrap
      .jumbotron.intro-page.section.section-default
        .container-fluid
          .row
            #bg{data: {"96" =>{top: "background-position: 0% 0px; opacity:1"}, top: {bottom: " background-position: 0% -200px; opacity: 0"}, anchor: {target: ".jumbotron"}}}
              //= image_tag "welcome/index/spash_vertical_trans.jpg", width: 1312, length: 756
              = yield
    = render "welcome/pre_footer"
    = render "shared/footer"
    = javascript_include_tag "welcome"
    = render "shared/javascripts"

