.row
  .span5.offset1
    = link_to "Back", :back
.row
  .span5.offset1
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f|
      = devise_error_messages!
      %legend
        My Personal Information
      .myform-wrapper
        %ul#personalleTab.nav.nav-tabs
          %li.active
            %a{:href => "#personal_info"} Personal
          %li
            %a{:href => "#personal_contact_info"} Contact
          %li
            %a{:href => "#personal_address_info"} Address
          %li
            %a{:href => "#finish_personalle"} Finish
        .tab-content
          #personal_info.tab-pane.active 
            .control-group
              = f.label :first_name, class: 'control-label'
              .controls
                = f.text_field :first_name, placeholder: "first name", class: 'input-small'
            .control-group
              = f.label :last_name, class: 'control-label'
              .controls
                = f.text_field :last_name, placeholder: "last name", class: 'input-small'
            .control-group
              = f.label :salutation, class: 'control-label'
              .controls
                = f.text_field :salutation, placeholder: "salutation", class: 'input-small'
            .control-group
              = f.label :suffix, class: 'control-label'
              .controls
                = f.text_field :suffix, placeholder: "suffix", class: 'input-small'

          #personal_contact_info.tab-pane
            - resource.home_contact_info ||= resource.build_home_contact_info
            = f.fields_for :home_contact_info do |hci|
              %fieldset
                %legend
                  %h5 Contact Info
                .control-group
                  = hci.label :mobile, class: 'control-label'
                  .controls
                    = hci.text_field :mobile, placeholder: "mobile number", class: 'input-small'
                .control-group
                  = hci.label :phone1, "Phone 1", class: 'control-label'
                  .controls
                    = hci.text_field :phone1, placeholder: "phone number 1", class: 'input-small'
                .control-group
                  = hci.label :phone2, "Phone 2", class: 'control-label'
                  .controls
                    = hci.text_field :phone2, placeholder: "phone number 2", class: 'input-small'
                .control-group
                  = hci.label :fax, class: 'control-label'
                  .controls
                    = hci.text_field :fax, placeholder: "fax number", class: 'input-small'
          #personal_address_info.tab-pane
            - resource.home_address ||= resource.build_home_address
            = f.fields_for :home_address do |ha|
              %fieldset
                %legend
                  %h5 Address Info
                .control-group
                  = ha.label :street1, class: 'control-label'
                  .controls
                    = ha.text_field :street1, placeholder: "street address 1", class: 'input-small'
                .control-group
                  = ha.label :apt_no, class: 'control-label'
                  .controls
                    = ha.text_field :apt_no, placeholder: "apartment", class: 'input-mini'
                .control-group
                  = ha.label :street2, class: 'control-label'
                  .controls
                    = ha.text_field :street2, placeholder: "street address 2", class: 'input-small'
                .control-group
                  = ha.label :city, class: 'control-label'
                  .controls
                    = ha.text_field :city, placeholder: "city", class: 'input-small'
                .control-group
                  = ha.label :state, class: 'control-label'
                  .controls
                    = ha.text_field :state, placeholder: "state", class: 'input-small'
                .control-group
                  = ha.label :zip, "Zip Code", class: 'control-label'
                  .controls
                    = ha.text_field :zip, placeholder: "zip code", class: 'input-mini'

          #finish_personalle.tab-pane 
            %fieldset
              .control-group
                = f.label :email, class: 'control-label'
                .controls
                  = f.email_field :email, :autofocus => true, class: 'input-small'
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %span.add-on
                  %i
                    %h6 Currently waiting confirmation for: #{resource.unconfirmed_email}
              .control-group
                = f.label :password, class: 'control-label'
                .controls
                  = f.password_field :password, :autocomplete => "off", class: 'input-small'
                  %span.add-on
                    %i 
                      %h6 (leave blank if you don't want to change it)
              .control-group
                = f.label :password_confirmation, class: 'control-label'
                .controls
                  = f.password_field :password_confirmation, class: 'input-small'
              .control-group
                = f.label :current_password, class: 'control-label'
                .controls
                  = f.password_field :current_password, class: 'input-small'
                  %span.add-on
                    %i
                      %h6 (we need your current password to confirm your changes)
            .form-actions
              = f.submit "Update", class: 'btn btn-large btn-success pull-right'
  .span5
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f|
      = devise_error_messages!
      %legend
        My Work Information
      .myform-wrapper
        %ul#workTab.nav.nav-tabs
          %li.active
            %a{:href => "#work_info"} My Company
          %li
            %a{:href => "#work_contact_info"} Contact
          %li
            %a{:href => "#work_address_info"} Address
          %li
            %a{:href => "#finish_work"} Finish
        .tab-content
          #work_info.tab-pane.active
            %fieldset
              %legend
                %h5 Company
            - resource.companies ||= resource.build_companies
            .control-group
              = label_tag "company", "Current Company", class: 'control-label'
              .controls
                = select_tag :company_id, options_from_collection_for_select(resource.companies.reverse, :id, :name), class: 'input-small'
            .control-group
              = label_tag "company", "Available Companies", class: 'control-label'
              .controls
                = select_tag :company_id, options_from_collection_for_select(Company.all, :id, :name), class: 'input-small'

          #work_contact_info.tab-pane
            - resource.work_contact_info ||= resource.build_work_contact_info
            = f.fields_for :work_contact_info do |wci|
              %fieldset
                %legend
                  %h5 Contact Info
                .control-group
                  = wci.label :email, "Email", class: 'control-label'
                  .controls
                    = wci.text_field :email, placeholder: "email address", class: 'input-small'
                .control-group
                  = wci.label :phone1, "Phone 1", class: 'control-label'
                  .controls
                    = wci.text_field :phone1, placeholder: "phone number 1", class: 'input-small'
                .control-group
                  = wci.label :ext, class: 'control-label'
                  .controls
                    = wci.text_field :ext, placeholder: "ext", class: 'input-small'
                .control-group
                  = wci.label :phone2, "Phone 2", class: 'control-label'
                  .controls
                    = wci.text_field :phone2, placeholder: "phone number 2", class: 'input-small'
                .control-group
                  = wci.label :mobile, class: 'control-label'
                  .controls
                    = wci.text_field :mobile, placeholder: "mobile number", class: 'input-small'
                .control-group
                  = wci.label :fax, class: 'control-label'
                  .controls
                    = wci.text_field :fax, placeholder: "fax number", class: 'input-small'
          #work_address_info.tab-pane
            - resource.work_address ||= resource.build_work_address
            = f.fields_for :work_address do |wa|
              %fieldset
                %legend
                  %h5 Address Info
                .control-group
                  = wa.label :street1, class: 'control-label'
                  .controls
                    = wa.text_field :street1, placeholder: "street address 1", class: 'input-small'
                .control-group
                  = wa.label :suite_no, class: 'control-label'
                  .controls
                    = wa.text_field :suite_no, placeholder: "suite", class: 'input-mini'
                .control-group
                  = wa.label :street2, class: 'control-label'
                  .controls
                    = wa.text_field :street2, placeholder: "street address 2", class: 'input-small'
                .control-group
                  = wa.label :city, class: 'control-label'
                  .controls
                    = wa.text_field :city, placeholder: "city", class: 'input-small'
                .control-group
                  = wa.label :state, class: 'control-label'
                  .controls
                    = wa.text_field :state, placeholder: "state", class: 'input-small'
                .control-group
                  = wa.label :zip, "Zip Code", class: 'control-label'
                  .controls
                    = wa.text_field :zip, placeholder: "zip code", class: 'input-mini'
          #finish_work.tab-pane 
            %fieldset
              .control-group
                = f.label :email, class: 'control-label'
                .controls
                  = f.email_field :email, :autofocus => true
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %span.add-on
                  %i
                    %h6 Currently waiting confirmation for: #{resource.unconfirmed_email}
              .control-group
                = f.label :password, class: 'control-label'
                .controls
                  = f.password_field :password, :autocomplete => "off", class: 'input-small'
                  %span.add-on
                    %i 
                      %h6 (leave blank if you don't want to change it)
              .control-group
                = f.label :password_confirmation, class: 'control-label'
                .controls
                  = f.password_field :password_confirmation, class: 'input-small'
              .control-group
                = f.label :current_password, class: 'control-label'
                .controls
                  = f.password_field :current_password, class: 'input-small'
                  %span.add-on
                    %i
                      %h6 (we need your current password to confirm your changes)
            .form-actions
              = f.submit "Update", class: 'btn btn-large btn-success pull-right'
.row
  .span3.offset1
    .myform-wrapper
      %fieldset
        %legend
          %h2
            unhappy?
        %p
          #{button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-block btn-large btn-danger', :data => { :confirm => "Are you sure?" }, :method => :delete}


